*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    font-family: var(--font);
}

:root {
    --grey: #eeeeee;
    --button-identity: #64d0dc;
    --text:#67abab;
    --safe: #94dc64;
    --fast: #dc7064;
    --dark-brown:#352b26;
    --dark-blue:#132a3b;
    --grey:#707070;
    --font: calibri;
}
.container{
    height: 400vh;
    width: 90%;
    margin: 0 5%;
}

nav{
    margin: 15px auto;
    position: fixed;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

nav img{
    width: 83px;
    height: 107px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    column-gap: 15.5px;
}

.nav-button{
    color: #fff;
    list-style: none;
    cursor: pointer;
}

.nav-button:hover{
    color: var(--button-identity);
}

.earth{
    width: 100%;
    height: 100vh;
    transition: all 3s ease-in-out;
}

.earth_scroll{
    border-radius: 100px;
    transform: translateY(-50vh);
}

pre {
    color: var(--grey);
    font-size: 50px;
}

.hidden {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.show {
    opacity: 1;
    transform: translateX(100px);
}
